
{% include 'user/user_header.html' %}

    <table align="center" border="2" style="color: red">
    <tr>
        <th> TaskName</th>
        <th> User ID</th>
        <th> Task Status</th>
    </tr>

    {% if data %}
          {% for x in data %}
        <tr>
        <td> {{ x.taskname }}</td>
        <td> {{ x.empID }}</td>
        <td><button> <a href="{% url 'task_completed' %}?name={{ x.taskname }}" style="text-decoration: none"> Task Completed</a> </button></td>
        </tr>
           {% endfor %}
    {% endif %}

    </table>

